::-webkit-scrollbar{display:none}
body *{font-family:Exo;user-select:none;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none;}
body{overflow:hidden;position:fixed;margin:0;height:100vh;background:#000}
input:focus, button:focus{outline:0!important}
#status-bar * {
	color: rgba(255, 255, 255, 0.75);
}
#grid {
	position: absolute;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-collapse: collapse;
	background: transparent;
}
#grid td {
	vertical-align: middle;
	height: 33.33333%;
	width: 33.33333%;
}
#grid td div {
	height: 100%;
	width: 100%;
	margin: auto;
}
.tile {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}
.dot {
	border-radius: 50%;
    background: rgba(255, 0, 153, 0.5);
}
#N-level {
    text-align: center;
}
#site-wrap {
	overflow: hidden;
	min-width: 100vw;
	min-height: 100vh;
	background: #808080;
	position: relative;
	top: 0;
	bottom: 100%;
	left: 0;
	z-index: 1;
}
.kale-ntainer {
  position: absolute;
  width: 140vmax;
  height: 140vmax;
  top: 50%;
  left: 50%;
  animation: spin 60s linear infinite;
}
section {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 37.513vmax;
  height: 70vmax;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  transform-origin: 50% 100%;
  background-size: auto 150%;
  animation: move-background 12s infinite alternate ease-in-out;
}
.sect-1 {
  transform: translateX(-50%) rotateY(180deg) rotateZ(30deg);
}
.sect-2 {
  transform: translateX(-50%) rotateZ(60deg);
}
.sect-3 {
  transform: translateX(-50%) rotateY(180deg) rotateZ(90deg);
}
.sect-4 {
  transform: translateX(-50%) rotateZ(120deg);
}
.sect-5 {
  transform: translateX(-50%) rotateY(180deg) rotateZ(150deg);
}
.sect-6 {
  transform: translateX(-50%) rotateZ(180deg);
}
.sect-7 {
  transform: translateX(-50%) rotateY(180deg) rotateZ(210deg);
}
.sect-8 {
  transform: translateX(-50%) rotateZ(240deg);
}
.sect-9 {
  transform: translateX(-50%) rotateY(180deg) rotateZ(270deg);
}
.sect-10 {
  transform: translateX(-50%) rotateZ(300deg);
}
.sect-11 {
  transform: translateX(-50%) rotateY(180deg) rotateZ(330deg);
}
.sect-12 {
  transform: translateX(-50%) rotateZ(360deg);
}
@keyframes spin {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}
@keyframes move-background {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
.invert {
	filter: invert(100%);
}
#nav-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
	position: fixed;
	z-index: 2;
	margin: 0;
	cursor: pointer;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect fill='rgba(255, 255, 255, 0.75)' width='30' height='6'/><rect fill='rgba(255, 255, 255, 0.75)' y='24' width='30' height='6'/><rect fill='rgba(255, 255, 255, 0.75)' y='12' width='30' height='6'/></svg>");
	background-size: contain;
}
#navigation {
	margin: 0;
	list-style: none;
	background-color: #222;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	overflow-y: scroll;
}
.nav-item input, .nav-item select {
	margin: 8px 0;
}
.nav-item p {
	margin: 12px 0;
}
.btn-standard {
	position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.75);
	border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 10;
    border-radius: 4px;
}
.btn-standard:disabled {
	background: #111;
}
.btn-popup {
	position: absolute;
	line-height: 100%;
	padding: 0;
	border: 0;
    background: transparent;
    color: #fff;
    border-radius: 4px;
}
.btn-popup.reflected {
	color: rgba(255, 215, 0, 0.75);
}
input[type=range].slider {
	-webkit-appearance: none;
	padding: 0;
}
input[type=range].slider:focus {
	outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
	width: 100%;
	cursor: pointer;
	background: #fff;
	border-radius: 4px;
	border: 0px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
	border: 0px solid #ff1e00;
	border-radius: 0px;
	background: #666;
	cursor: pointer;
	-webkit-appearance: none;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
	background: #ff0;
}
.pop {
	position: absolute;
	z-index:20;
	color: #fff;
	top: 0;
	left: 0;
	text-align: center;
	transition: opacity .4s ease-in-out;
	background: rgba(0, 0, 0, .5);
}
#results, #chart {
	position: absolute;
	z-index: 30;
	width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#chart {
	display: none;
	height: 85vh;
	width: 85vw;
}
.results-icons {
	border-collapse: collapse;
    border-spacing: 0;
	border: 0;
	margin: 0 auto;
}
.results-text {
	margin: 0;
	line-height: 100%;
}
.ct-chart-line{
    overflow:visible!important;
}
.ct-grid {
	stroke: white;
}
.ct-label {
	fill: white;
    color: white;
}
.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: green;
}
.ct-series-b .ct-line,
.ct-series-b .ct-point {
  stroke: orange;
}
.ct-series-c .ct-line,
.ct-series-c .ct-point {
  stroke: red;
}
.on {
	background: rgba(255, 0, 153, 0.5)!important;
}
.right {
	background: rgba(12, 190, 74, 0.5)!important;
}
.missed {
	background: rgba(225, 225, 0, 0.5)!important;
}
.wrong {
	background: rgba(192, 41, 0, 0.5)!important;
}
.right-inverted {
	background: rgba(243, 65, 181, 0.5)!important;
}
.missed-inverted {
	background: rgba(30, 30, 255, 0.5)!important;
}
.wrong-inverted {
	background: rgba(63, 214, 255, 0.5)!important;
}
@keyframes rotating-clockwise {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotating-anticlockwise {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
