#grid {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 55vw;
  width: 96vw;
  border-collapse: collapse;
  background: transparent;
}

td.heading-td {
  height: 5vw;
  width: 48vw;
}

td.visual-td {
  height: 48vw;
  width: 48vw;
}

.on-emotion-0,
.on-emotion-1,
.on-emotion-2,
.on-emotion-3,
.on-emotion-4,
.on-emotion-5,
.on-emotion-6,
.on-emotion-7 {
  background-size: 48vw;
}

.on-letter-0::after,
.on-letter-1::after,
.on-letter-2::after,
.on-letter-3::after,
.on-letter-4::after,
.on-letter-5::after,
.on-letter-6::after,
.on-letter-7::after {
  font-size: 47.9vw;
  line-height: 1;
}

#status-bar {
  padding-top: 2vh;
}

#status-bar * {
  width: 100%;
  font-size: 9vh;
  text-align: center;
}

#N-level {
  font-size: 4vh;
}

#engine-btn {
  top: 2vh;
  right: 2vh;
}

#eye-left-btn,
#eye-right-btn,
#ear-left-btn,
#ear-right-btn {
  position: absolute;
  font-size: 5vh;
  width: 49.5vw;
  height: 10vh;
  line-height: 9.5vh;
}

#eye-right-btn, 
#eye-left-btn {
  bottom: 10.65vh;
}

#ear-left-btn,
#ear-right-btn {
  bottom: 0;
}

#eye-left-btn {
  left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-width: 1px;
}

#eye-right-btn {
  right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-width: 1px;
}

#ear-left-btn {
  left: 0;
  border-top-right-radius: 4px;
  border-width: 1px;
}

#ear-right-btn {
  right: 0;
  border-top-left-radius: 4px;
  border-width: 1px;
}

#eye-left-btn:before {
  content: "Vis Left";
}

#eye-right-btn:before {
  content: "Vis Right";
}

#ear-left-btn:before {
  content: "Snd Left";
}

#ear-right-btn:before {
  content: "Snd Right";
}

#progress-outer {
  height: 1vh!important;
}

.results-icons td,
.results-text {
  color: #fffff1;
  font-size: 4vh;
  padding: 1vh;
}

.ct-label {
  font-size: 3vh;
}

.btn-standard {
  font-size: 4vh;
  padding: 1vh 1.5vh;
}

.btn-popup {
  width: 7vh;
  height: 7vh;
  font-size: 4vh;
}

.btn-popup.normal {
  top: 2vh;
  right: 2vh;
}

.btn-popup.reflected {
  top: 13vh;
  left: 2vh;
}

#navigation {
  padding: 2vh;
}

.nav-item input,
.nav-item select {
  margin-bottom: 10px;
}

label[for="nav-trigger"] {
  top: 2vh;
  left: 2vh;
  width: 6vh;
  height: 6vh;
}

#nav-trigger:checked+label {
  left: 37vh;
}

#nav-trigger:checked~#site-wrap {
  left: 35vh;
}

#nav-trigger+label,
#site-wrap {
  transition: left 0.2s;
}

.nav-item label,
.nav-item p,
.nav-item span.range-label {
  width: 31vh;
  color: #fffff1;
  font-size: 3vh;
  font-weight: 700;
}

.nav-item input,
.nav-item select {
  display: block;
  width: 31vh!important;
  font-size: 3vh;
  border: 0;
  border-radius: 4px;
}

input[type=range].slider::-webkit-slider-runnable-track,
.nav-item input,
.nav-item select {
  height: 5vh;
}

input[type=range].slider::-webkit-slider-thumb {
  height: 5vh;
  width: 3.67vh;
}
