#grid {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  height: 50vh;
  width: 80vh;
  border-collapse: collapse;
  background: transparent;
}

td.heading-td {
  height: 10vh;
  width: 40vh;
}

td.visual-td {
  height: 40vh;
  width: 40vh;
}

.on-emotion-0,
.on-emotion-1,
.on-emotion-2,
.on-emotion-3,
.on-emotion-4,
.on-emotion-5,
.on-emotion-6,
.on-emotion-7 {
  background-size: 40vh;
}

.on-letter-0::after,
.on-letter-1::after,
.on-letter-2::after,
.on-letter-3::after,
.on-letter-4::after,
.on-letter-5::after,
.on-letter-6::after,
.on-letter-7::after {
  font-size: 39.9vh;
  line-height: 1;
}

#status-bar * {
  position: absolute;
  line-height: 100%;
  font-size: 10vh;
}

#N-level {
  font-size: 6.5vh;
}

#stimuli-counter {
  bottom: 4vh;
  right: 4vh;
}

#engine-btn {
  bottom: 4vh;
  left: 4vh;
}

#ear-left-btn,
#ear-right-btn,
#eye-left-btn,
#eye-right-btn {
  font-size: 7vh;
  width: 10vw;
  height: 24.5vh;
  line-height: 24.5vh;
}

#ear-left-btn,
#eye-left-btn {
  top: 25%;
}

#ear-right-btn,
#eye-right-btn {
  top: 50%;
}

#eye-left-btn,
#eye-right-btn {
  left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#ear-left-btn,
#ear-right-btn {
  right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#eye-left-btn:before {
  content: "A";
}

#eye-right-btn:before {
  content: "S";
}

#ear-left-btn:before {
  content: "K";
}

#ear-right-btn:before {
  content: "L";
}

#progress-outer {
  height: 2vh!important;
}

.results-icons td,
.results-text {
  color: #fffff1;
  font-size: 8vh;
  padding: 2vh;
}

.ct-label {
  font-size: 6vh;
}

.btn-standard {
  font-size: 7vh;
  padding: 1vh 3vh;
  cursor: pointer;
}

.btn-popup {
  width: 12vh;
  height: 12vh;
  font-size: 7vh;
  cursor: pointer;
}

.btn-popup.normal {
  top: 4vh;
  right: 4vh;
}

.btn-popup.reflected {
  top: 4vh;
  right: 4vh;
}

#navigation {
  padding: 4vh;
}

.nav-item input,
.nav-item select {
  margin-bottom: 10px;
}

label[for="nav-trigger"] {
  top: 4vh;
  left: 4vh;
  width: 10vh;
  height: 10vh;
}

#nav-trigger:checked+label {
  left: 67vh;
}

#nav-trigger:checked~#site-wrap {
  left: 63vh;
}

#nav-trigger+label,
#site-wrap {
  transition: left 0.2s;
}

.nav-item label,
.nav-item p,
.nav-item span.range-label {
  width: 55vh;
  color: #fffff1;
  font-size: 5vh;
  font-weight: 700;
}

.nav-item input,
.nav-item select {
  display: block;
  width: 55vh!important;
  font-size: 5vh;
  border: 0;
  border-radius: 4px;
}

input[type=range].slider::-webkit-slider-runnable-track,
.nav-item input,
.nav-item select {
  height: 8vh;
}

input[type=range].slider::-webkit-slider-thumb {
  height: 8vh;
  width: 6vh;
}

@media (min-width:961px) {
  .nav-item input,
  .nav-item select {
    margin-bottom: 8px;
  }
  #nav-trigger:checked+label {
    left: 35vh;
  }
  #nav-trigger:checked~#site-wrap {
    left: 31vh;
  }
  .nav-item label,
  .nav-item p,
  .nav-item span.range-label {
    width: 23vh;
    font-size: 2.5vh;
  }
  .nav-item input,
  .nav-item select {
    width: 23vh!important;
    font-size: 2.5vh;
  }
  input[type=range].slider::-webkit-slider-runnable-track,
  .nav-item input,
  .nav-item select {
    height: 4vh;
  }
  input[type=range].slider::-webkit-slider-thumb {
    height: 4vh;
    width: 2.67vh;
  }
}
